.DS_Store
__pycache__/
.idea/
venv/
.venv/
*.py[cod]
*.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.ipynb_checkpoints
*.ipynb
*.log
*.sqlite3
airflow/logs/
airflow/plugins/
